body {
        font-family: Arial,sans-serif;
        margin: 0;
        padding: 0;

        background-color: #f5f5f5;
}

header {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: grey;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

h1 {
        width: 100%;
        display: block;
        text-align: center;
}

.logo {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
}

.search-bar {
        flex-grow: 1;
        margin: 0 20px;
}

.search-bar input {
        width: 100%;
        padding: 8px;
}

nav {
        justify-content: center;
        background: black;
        padding: 0px;
        width: 100%;
        display: block;
        text-align: center;
}

main {
        text-align: center;
        padding: 10px;
        background-color: white;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.map img {
        max-width: 100%;
        border-radius: 10px;
}

footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        padding: 20px;
        font-family: Arial, sans-serif;
        text-align: center;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.footer_left, .footer_right {
        width: 50%;
}

.footer_left {
        text-align: left;
}

.footer_right {
        text-align: right;
}

.footer_left span, .footer_right span {
        display: block;
        margin-top: 5px;
}


table {
        width: 80%;
        max-width: 800px;
        margin: auto;
        border-collapse: collapse;
        margin-top: 50px;
}

th, td {
        border: 1px solid #ccc;
        padding: 0px;
}
tr {
        line-height: 1.2;
}

th {
        background-color: #ddd;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: grey;
    font-family: Arial, sans-serif;
}

.header1 form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 15px;
        border-radius: 5px;
        margin: 0;
}

nav ul li {
        margin: 0 15px;
}

nav ul li a {
        color: #e0e0e0;
        text-decoration: none;
        font-weight: bold;
}

nav ul li a:hover {
        text-decoration: underline;
}